@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 222.2 84% 4.9%; /* slate-900 */
    --card: 0 0% 100%; /* white */
    --card-foreground: 222.2 84% 4.9%; /* slate-900 */
    --popover: 0 0% 100%; /* white */
    --popover-foreground: 222.2 84% 4.9%; /* slate-900 */
    --primary: 0 0% 100%; /* white */
    --primary-foreground: 222.2 47.4% 11.2%; /* slate-800 */
    --secondary: 240 5% 96%; /* gray-100 */
    --secondary-foreground: 222.2 84% 4.9%; /* slate-900 */
    --sidebar: 0 0% 100%; /* white */
    --tertiary: 240 5% 96%; /* gray-100 */
    --wallet: 0 0% 9%; /* gray-900 */
    --modal: 0 0% 100%; /* white */
    --dropdown: 0 0% 100%; /* white */
    --muted: 210 40% 96%; /* gray-100 */
    --muted-foreground: 215.4 16.3% 46.9%; /* gray-500 */
    --accent: 210 40% 96%; /* slate-100 */
    --accent-foreground: 222.2 84% 4.9%; /* slate-900 */
    --destructive: 0 84.2% 60.2%; /* red-500 */
    --destructive-foreground: 210 40% 98%; /* gray-50 */
    --surface:0, 0%, 100%; /* white */
    --surface-hover: 0, 0%, 96%; /* gray-100 */
    --border: 220 14% 96%; /* gray-100 */
    --input: 240 5% 96%; /* gray-100 */
    --ring: 270 91% 60%; /* purple-600 */
    --highlight: 270 91% 60%; /* purple-600 */
    --warning: 45 93% 47%; /* yellow-500 */
    --error: 0, 91%, 60%; /* red-500 */
    --success: 142 76% 36%; /* green-600 */
    --overlay: 0 0% 0%; /* black */
    --overlay-opacity: 0.5;
    --tag: 0 0% 40%; /* gray-600 */
    --tag-hover: 262 83% 58%; /* purple-500 */
    --chart-1: 12 76% 61%; /* orange-400 */
    --chart-2: 173 58% 39%; /* teal-700 */
    --chart-3: 197 37% 24%; /* cyan-900 */
    --chart-4: 43 74% 66%; /* lime-400 */
    --chart-5: 27 87% 67%; /* amber-400 */
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%; /* slate-900 */
    --foreground: 210 40% 98%; /* gray-50 */
    --card: 220 7% 9%; /* gray-900 */
    --card-foreground: 210 40% 98%; /* gray-50 */
    --popover: 222.2 84% 4.9%; /* slate-900 */
    --popover-foreground: 210 40% 98%; /* gray-50 */
    --primary: 222.2 84% 4.9%; /* slate-900 */
    --primary-foreground: 210 40% 98%; /* gray-50 */
    --secondary: 0 0% 0%; /* black */
    --secondary-foreground: 210 40% 98%; /* gray-50 */
    --sidebar: 220 7% 9%; /* gray-900 */
    --tertiary: 0 0% 8%; /* gray-900 */
    --wallet: 220 9% 11%; /* gray-900 */
    --modal: 222.2 84% 4.9%; /* slate-900 */
    --dropdown: 0 0% 9%; /* gray-900 */
    --muted: 217.2 32.6% 17.5%; /* gray-800 */
    --muted-foreground: 215 20.2% 65.1%; /* gray-400 */
    --accent: 217.2 32.6% 17.5%; /* gray-800 */
    --accent-foreground: 210 40% 98%; /* gray-50 */
    --destructive: 0 62.8% 30.6%; /* red-800 */
    --destructive-foreground: 210 40% 98%; /* gray-50 */
    --surface: 0, 0%, 7%; /* gray-900 */
    --surface-hover: 0, 0%, 16%; /* gray-800 */
    --border: 0 0% 25%; /* gray-800 */
    --input: 0 0% 16%; /* gray-800 */
    --ring: 270 91% 60%; /* purple-600 */
    --highlight: 271 76% 53%; /* purple-500 */
    --warning: 45 93% 47%; /* yellow-500 */
    --error: 0, 91%, 71%; /* red-400 */
    --success: 142 76% 36%; /* green-600 */
    --overlay: 0 0% 0%; /* black */
    --overlay-opacity: 0.8;
    --tag: 0 0% 13%; /* gray-900 */
    --tag-hover: 262 83% 68%; /* purple-500 */
    --chart-1: 220 70% 50%; /* slate-500 */
    --chart-2: 160 60% 45%; /* teal-600 */
    --chart-3: 30 80% 55%; /* yellow-600 */
    --chart-4: 280 65% 60%; /* purple-400 */
    --chart-5: 340 75% 55%; /* pink-400 */
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-muted;
}

::-webkit-scrollbar-thumb {
  @apply bg-border rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-muted-foreground;
}

/* Ensure smooth transitions for theme changes */
* {
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
/* Hide scrollbar completely */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.stars-container::after {
  background-size: 350px 350px;
  background-position: 50px 50px;
  animation-delay: -2s;
  opacity: 0.4;
}

/* Twinkle Animation */
@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
}

/* Gradient Border */
.gradient-border {
  position: relative;
  border: 1px solid transparent;
  background-clip: padding-box;
  border-radius: 10px;
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  border-color: linear-gradient(45deg, #260949, #81778e, #a5c6ea);
}

.gradient-border::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(90deg, #a5c6ea 0%, #81778e 100%);
  border-radius: inherit;
  mask:
    conic-gradient(#000 0 0) content-box exclude,
    conic-gradient(#000 0 0);
}
